<!doctype html>
<html class="no-js h-100" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="/static/css/shards-dashboards.1.1.0.min.css">
    <link href="/static/css/notice_board.css" rel="stylesheet">
</head>
<body class="h-100">
{% include "header.html" %}
<div id="decorate-div"><span>내 식품 안전 체크 리스트 |</span><span>구매/보유 식품들의 안전성을 점검할 수 있습니다</span></div>
<div class="notice-board">

<div class="container">
    <div class="">
        <div class="col">
            <div class="card card-medium mb-4" id="recall-list-container" >
                <div class="card-header border-bottom">
                    <h4 class="m-0" align="center">회수·판매중지 제품 리스트</h4>
                </div>
                <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0 table-striped">
                        <thead class="bg-light">
                        <tr>
                            <!--<th scope="col" class="border-0">번호</th>-->
                            <th scope="col" class="border-0">제품명</th>
                            <th scope="col" class="border-0">업체명</th>
                            <th scope="col" class="border-0">회수명령일자</th>
                            <th scope="col" class="border-0">회수방법</th>
                        </tr>
                        </thead>
                        <tbody id="recall-tbody">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card card-small mb-4" id="false-ad-list-container">
                <div class="card-header border-bottom">
                    <h4 class="m-0" align="center">과대 광고 제품 리스트</h4>
                </div>
                <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0 table-striped">
                        <thead class="bg-light">
                        <tr>
                            <th scope="col" class="border-0">제품명</th>
                            <th scope="col" class="border-0">업체명</th>
                            <th scope="col" class="border-0">행정처분일자</th>
                        </tr>
                        </thead>
                        <tbody id="false-ad-tbody">
                       <!-- <tr>
                            <td>1</td>
                            <td>Ali</td>
                            <td>Kerry</td>
                        </tr>
-->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card card-small mb-4" >
                <div class="card-header border-bottom">
                    <h4 class="m-0" align="center">유통기한 점검 리스트</h4>
                </div>
                <div class="card-body p-0 pb-3 text-center">
                    <table class="table mb-0 table-striped">
                        <thead class="bg-light">
                        <tr>
                            <th scope="col" class="border-0">제품명</th>
                            <th scope="col" class="border-0">업체명</th>
                            <th scope="col" class="border-0">남은일수</th>
                        </tr>
                        </thead>
                        <tbody id="expired-tbody">
                        <!--<tr>
                            <td>Ali</td>
                            <td>Kerry</td>
                            <td>Kerry</td>
                        </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- End Default Light Table -->
    <!-- Default Dark Table -->
</div>
    <div class="has-product-container container" url="{% url 'users:hasProduct' request.session.user %}" noticeboard_id="{{request.session.user}}">
        <div class="card card-big overflow-hidden mb-4" >
            <div class="card-header border-bottom">
                <h4 class="m-0" align="center">보유/구매 제품 목록</h4>
                <div class="add-btn-container">
                    <input id="add-btn" type="button" onClick="location.href='{% url 'jangbogo:productListSearch' %}'"value="추 가" />
                </div>
            </div>
            <div class="card-body p-0 pb-3 text-center">
                <table class="table mb-0">
                    <thead class="bg-light">
                    <tr>
                        <th scope="col" class="border-bottom-0">위해</th>
                        <th scope="col" class="border-bottom-0">과대</th>
                        <th scope="col" class="border-bottom-0">기한도래</th>
                        <th scope="col" class="border-bottom-0">제품명</th>
                        <th scope="col" class="border-bottom-0">업체명</th>
                        <th scope="col" class="border-bottom-0">구매일자</th>
                        <th scope="col" class="border-bottom-0">제조일자</th>
                        <th scope="col" class="border-bottom-0">유통기한</th>
                        <th scope="col" class="border-bottom-0">삭제</th>
                    </tr>
                    </thead>
                    {% for product in hasProductList%}
                    <tbody>
                    <tr class="{{product.id}} {% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
                        <td class="recall_icons"></td>
                        <td class="false_icons"></td>
                        <td class="expire_icons"></td>
                        <td>{{product.pur_name}}</td>
                        <td>{{product.pur_company}}</td>
                        <td>{{product.pur_date|date:'Y-m-d'}}</td>
                        <td>{{product.pur_jejodate|date:'Y-m-d'}}</td>
                        <td>{{product.pur_expire_period}}</td>
                        <td><a href="{% url 'users:deleteProduct' request.session.user product.id %}" class="btn btn-danger btn-sm">삭제</a>
                        </td>
                    </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    <!-- End Default Dark Table -->

</div>
</div>
{% include "footer.html" %}
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="/static/js/bootstrap.min.js"  integrity=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
<script src="https://unpkg.com/shards-ui@latest/dist/js/shards.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Sharrre/2.0.1/jquery.sharrre.min.js"></script>
<!--<script src="/static/js/extras.1.1.0.min.js"></script>-->
<script src="/static/js/shards-dashboards.1.1.0.min.js"></script>
<script src="/static/js/notice-board.js"></script>

</body>
</html>