<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Basic page needs -->
    <meta charset="utf-8">

    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Refresh - Food & Restaurant Website Template</title>
    <meta name="Before buying it, get the feel and look of the Refresh Food & Restaurant Website Template by viewing the demo preview. View the pages, examine the images, click the buttons, explore the features.">
    <meta name="keywords" content="food shop, fresh, modern, Refresh farm, Restaurant farm shop, Refresh food, Refresh shop, agriculture, e-commerce, eco, eco products, farm, farming, food, health, Restaurant, Refresh food, retail, shop, store"/>

    <!-- Mobile specific metas  -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon  -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700,900' rel='stylesheet' type='text/css'>

    <!-- CSS Style -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">

    <!-- font-awesome & simple line icons CSS -->
    <!-- owl.carousel CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="/static/css/owl.theme.css">

    <!-- flexslider CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/flexslider.css" >

    <!-- animate CSS  -->
    <link rel="stylesheet" type="text/css" href="/static/css/animate.css" media="all">

    <!-- jquery-ui.min CSS  -->
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-ui.css">

    <!-- Revolution Slider CSS -->
    <link href="/static/css/revolution-slider.css" rel="stylesheet">


    <!-- style CSS -->
    <link rel="stylesheet" type="text/css" href="/static/css/product-detail-style.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" media="all">
    <link rel="stylesheet" type="text/css" href="/static/css/font-awesome.min.css" />

</head>

<body class="product-page">
{% include "header.html" %}

<div id="decorate-div"><span>Search |</span><span> 식품안전나라, 공공데이터 API를 이용하여 제품정보를 조회할 수 있습니다.</span></div>
<div class="container">
    <div class="mb20">
        <form class="input-group" id="search_key" action="{% url 'jangbogo:productListSearch' %}" method="post" search_key="{{search_key}}" parameters="{{parameters}}">
            {% csrf_token %}
            <input type="text" placeholder="search for" class="form-control" name="keyword" value="{{search_key}}"><span class="input-group-btn">
            <button type="submit" class="btn btn-search">검색</button>
            </span>
        </form>
    </div>
</div>

<div class="main-container col1-layout">
    <div class="container">

        <div class="row">
            <div class="col-main">
                <div class="product-view-area">
                    <div class="product-big-image col-xs-12 col-sm-5 col-lg-5 col-md-5">
                        <div class="large-image"> <a href="{{ search_img_file_path }}" class="cloud-zoom" id="zoom1" rel="useWrapper: false, adjustY:0, adjustX:20"> <img class="zoom-img" src="{{ search_img_file_path }}" alt="products"> </a> </div>
                        <div class="flexslider flexslider-thumb">
                            <!--<ul class="previews-list slides">
                                <li><a href='/static/img/products/img01.jpg' class='cloud-zoom-gallery' rel="useZoom: 'zoom1', smallImage: '/static/img/products/img01.jpg' "><img src="/static/img/products/img01.jpg" alt = "Thumbnail 2"/></a></li>
                            </ul>-->
                        </div>

                        <!-- end: more-images -->

                    </div>
                    <div class="col-xs-12 col-sm-7 col-lg-7 col-md-7 product-details-area">

                        <div class="product-name">
                            <p class="availability in-stock pull-right"> <span>위해</span></p>
                            <h1 id="search_name">{{ search_name }}</h1>
                        </div>
                        <div class="price-box">
                            <p class="special-price"> <span class="price-label">Special Price</span> <span class="price" id="search_company_nm"> {{search_company_nm}}</span> </p>
                        </div>
                        <div class="ratings">
                            <p class="rating-links"> <span class="separator"></span> <a href="#">{{ search_cret_dtm }}</a> </p>

                        </div>
                        <div class="short-description">
                             <h2 class="saider-bar-title">회수 사유</h2>
                            <!--<p> 회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수회수-->
                            <p>{{ search_rtrvlprvns }}</p>

                        </div>
                        <div class="product-color-size-area">
                            <div class="color-area">
                                <h2 class="saider-bar-title">회수 폐기 방법</h2>
                                <div class="color">
                                    <ul>
                                        {{ search_rtrvlmthd }}
                                    </ul>
                                </div>
                            </div>

                        </div>
                        <div class="product-variation">
                            <form action="#" method="post">
                                {% csrf_token %}
                                <label>구매일자: <input id="pur_date" type="date"/></label>
                                <br>
                                <label>제조일자: <input id="jejo_date" type="date"/></label>
                                <input value="My bucket에 추가" type="submit"/>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-overview-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12"><div class="product-tab-inner">
                            <ul id="product-detail-tab" class="nav nav-tabs product-tabs">
                                <li class="active"> <a href="#description" data-toggle="tab">제품 상세 정보</a> </li>
                                <li> <a href="#custom_tabs" data-toggle="tab">업체 상세 정보</a> </li>
                            </ul>
                            <div id="productTabContent" class="tab-content">
                                <div class="tab-pane fade in active" id="description">
                                    <div class="std">
                                        <p><strong>{{ search_name }}</strong></p>
                                        <p>회수사유:{{ search_rtrvlprvns }}</p>
                                        <p>포장단위:{{ search_frmlcunit }}</p>
                                        <p>제조일자:{{ search_jejodate }}</p>
                                        <p>회수방법:{{ search_rtrvlmthd }}</p>
                                        <p id="search_expire_period">유통기한:{{ search_expire_period }}</p>
                                        <p>식품분류:{{ search_prdlst_type }}</p>
                                        <p id="search_prdlst_cd">품목코드:{{ search_prdlst_cd }}</p>
                                        <p>회수.판매중지 일련번호:{{ search_rtrvldsuse_seq }}</p>
                                        <p>품목제조보고번호:{{ search_prdlst_report_no }}</p>
                                        <p>회수등급:{{ search_rtrvl_grdcd_nm }}</p>
                                        <p>품목유형(품목코드명):{{ search_prdlst_cd_nm }}</p>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="product_tags">
                                    <div class="box-collateral box-tags">
                                        <div class="tags">
                                            <form id="addTagForm" action="#" method="get">
                                                <div class="form-add-tags">
                                                    <div class="input-box"><label for="productTagName">Add Your Tags:</label>
                                                        <input class="input-text" name="productTagName" id="productTagName" type="text">
                                                        <button type="button" title="Add Tags" class="button add-tags"><i class="fa fa-plus"></i> &nbsp;<span>Add Tags</span> </button>
                                                    </div>
                                                    <!--input-box-->
                                                </div>
                                            </form>
                                        </div>
                                        <!--tags-->
                                        <p class="note">Use spaces to separate tags. Use single quotes (') for phrases.</p>
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="custom_tabs">
                                    <div class="product-tabs-content-inner clearfix">
                                        <p><strong>{{ search_company_nm }}</strong></p>
                                        <p>&nbsp;업체 주소:{{ search_company_addr }}</p>
                                        <p>&nbsp;업체 전화번호:{{ search_company_telno }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div></div>
                </div>
            </div>







        </div>
    </div>
</div>

{% include "footer.html" %}

<!-- jquery js -->
<script type="text/javascript" src="/static/js/jquery.min.js"></script>

<!-- bootstrap js -->
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>

<!-- owl.carousel.min js -->
<script type="text/javascript" src="/static/js/owl.carousel.min.js"></script>

<!-- bxslider js -->
<script type="text/javascript" src="/static/js/jquery.bxslider.js"></script>

<!-- flexslider js -->
<script type="text/javascript" src="/static/js/jquery.flexslider.js"></script>


<!-- megamenu js -->
<script type="text/javascript" src="/static/js/megamenu.js"></script>
<script type="text/javascript">
    /* <![CDATA[ */
    var mega_menu = '0';

    /* ]]> */
</script>

<!-- jquery.mobile-menu js -->
<script type="text/javascript" src="/static/js/mobile-menu.js"></script>

<!--jquery-ui.min js -->
<script type="text/javascript" src="/static/js/jquery-ui.js"></script>

<!-- main js -->
<script type="text/javascript" src="/static/js/main.js"></script>

<!-- countdown js -->
<script type="text/javascript" src="/static/js/countdown.js"></script>

<!--cloud-zoom js -->
<script type="text/javascript" src="/static/js/cloud-zoom.js"></script>

<script type="text/javascript" src="/static/js/product-detail.js"></script>


</body>
</html>