<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>로그인 / 회원가입 폼 템플릿</title>
    <link rel="stylesheet" href="/static/css/login-register-style.css">
</head>
<body>
<div class="wrap">
    <div class="form-wrap">
        <div class="button-wrap">
            <div id="btn"></div>
            <button type="button" class="togglebtn" id="loginfont" onclick="login()">LOG IN</button>
            <button type="button" class="togglebtn" id="registerfont" onclick="register()">REGISTER</button>
        </div>
         <form id="login" method = "post" action="{% url 'users:logIn' %}" class="input-group">
            {% csrf_token %}
              <p style="color:red"> {{error_message}} </p>
            <input type="text" class="input-field" name = "user_name" placeholder="User name" required>
            <input type="password" class="input-field" name = "user_password"  placeholder="Enter Password" required>
            <br><br>
            <button class="submit">Login</button>
        </form>
        <form id="register" method="post" action="{% url 'users:signUp'%}" class="input-group">
            {% csrf_token %}
            <input type="text" class="input-field" name="user_name" placeholder="User name or Email" required>
            <input type="email" class="input-field" name="user_email" placeholder="Your Email" required>
            <input type="password" class="input-field" name="user_password1" placeholder="Enter Password" required>
            <input type="password" class="input-field" name="user_password2" placeholder="Enter Password Again" required>
            <br><br>
            <button class="submit">REGISTER</button>
        </form>
    </div>

    <div class="form-wrap">
        <img src="/static/img/homeimage_1.png">
        <img src="/static/img/logo_h_w.png">
    </div>
</div>
<script src="/static/js/login-register.js"></script>
</body>
</html>