<!doctype html>
<html class="no-js h-100" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" id="main-stylesheet" data-version="1.1.0" href="/static/css/shards-dashboards.1.1.0.min.css">
    <link rel="stylesheet" href="/static/css/extras.1.1.0.min.css">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
    <link href="/static/css/custom.css" rel="stylesheet">
</head>
<body class="h-100">
{% include "header.html" %}
<div class="mypage-form">

<div class="main-navbar sticky-top bg-white">

    <div class="main-content-container container-fluid px-4">
        <!-- Page Header -->
        <div class="page-header row no-gutters py-4">
            <div class="col-12 col-sm-4 text-center text-sm-left mb-0">
                <h3 class="page-title">내 정보</h3>
            </div>
        </div>
        <!-- End Page Header -->
        <!-- Default Light Table -->
        <div class="">
            <div class="col-lg-4">
                <div class="card card-small mb-4 pt-3">
                    <div class="card-header border-bottom text-center">
                        <div class="mb-3 mx-auto">
                            <img class="rounded-circle" src="/static/img/avatars/0.png" alt="User Avatar" width="110">
                        </div>
                        <h4 class="mb-0">{{user.user_name}}</h4>
                        <span class="text-muted d-block mb-2">{{user.user_email}}</span>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item px-4">
                            <div class="progress-wrapper">
                                <strong class="text-muted d-block mb-2">가입일</strong>
                                {{user.user_registerdate}}
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="card card-small mb-4">
                    <div class="card-header border-bottom">
                        <h6 class="m-0">내 정보 수정하기</h6>
                        {% if error_message %}
                        <h6 style="color:red" align="center"> {{error_message}} </h6>
                        {% endif %}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-3">
                            <div class="row">
                                <div class="col">
                                    <form action="{% url 'users:userUpdate' request.session.user %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="fePassword">현재 비밀번호</label>
                                                <input type="password" class="form-control" id="fePassword_cur" placeholder="Password" name="current_password">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="feEmailAddress">이메일</label>
                                                <input type="email" class="form-control" id="feEmailAddress" placeholder="Email" name="email" value={{user.user_email}}>
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="fePassword">변경 후 비밀번호</label>
                                                <input type="password" class="form-control" id="fePassword" placeholder="Password" name="password">
                                            </div>
                                            <div class="form-group col-md-6">
                                                <label for="fePassword">변경 후 비밀번호 확인</label>
                                                <input type="password" class="form-control" id="fePassword_re" placeholder="Password" name="re_password">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-accent">정보 수정</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <div class="card-header border-bottom">
                        <h6 class="m-0">회원 탈퇴하기</h6>
                        {% if error_message %}
                        <h6 style="color:red" align="center"> {{error_message}} </h6>
                        {% endif %}
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item p-3">
                            <div>
                                <div class="col">
                                    <form action="{% url 'users:userDelete' request.session.user %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="fePassword">현재 비밀번호</label>
                                                <input type="password" class="form-control" id="fePassword2" placeholder="Password" name="current_password2">
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="fePassword">비밀번호 확인</label>
                                                <input type="password" class="form-control" id="fePassword3" placeholder="Password" name="current_repassword">
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-danger">회원 탈퇴</button>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</div>
</div>
</div>
{% include "footer.html" %}
</body>
</html>