.card {
    padding: 3px;
}
.card-small {border: 0.1px solid ; float: left; width: 32%; margin:0.66%; height: 300px; overflow:auto}
.card-big{border: 1px solid ; height: 500px; overflow:auto;}
.has-product-container{
    margin-top: 30px;
    margin-bottom: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.title{
    padding-left: 20px;
    margin-bottom: 5%;
}

.add-btn-container {
    display: flex;
    justify-content: flex-end;
}

#add-btn{
    border: none;
    border-radius: 5px;
    background-color: #78C2AD;
    color: white;
    font-size: 18px;
    width: 80px;
    height: 40px;
    margin-right: 20px;
}