@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

body {
  color: #5a5a5a;
  font-family: 'NanumSquare', 'Helvetica Neue', Arial, sans-serif;
  margin: 0;
}

.card {
    padding: 3px;
}
.card-small {border: 0.1px solid ; float: left; width: 32%; margin:0.66%; height: 300px; overflow:auto}
.card-big{border: 1px solid ; height: 500px; overflow:auto;}
.has-product-container{
    margin-top: 30px;
    margin-bottom: 10px;
}

.title{
    padding-left: 20px;
    margin-bottom: 5%;
}

.add-btn-container {
    display: flex;
    justify-content: flex-end;
}

#add-btn{
    border: none;
    border-radius: 5px;
    background-color: #78C2AD;
    color: white;
    font-size: 18px;
    width: 80px;
    height: 40px;
    margin-right: 20px;
}