@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css);

.mb20 { margin: 60px 0px }

hgroup { padding-left: 15px; border-bottom: 1px solid #ccc; }
hgroup h1 { font: 500 normal 1.625em "NanumSquare",Arial,Verdana,sans-serif; color: #2a3644; margin-top: 0; line-height: 1.15; }
hgroup h2.lead { font: normal normal 1.125em "NanumSquare",Arial,Verdana,sans-serif; color: #2a3644; margin: 0; padding-bottom: 10px; }

.search-result .thumbnail { border-radius: 0 !important; }
.search-result:first-child { margin-top: 0 !important; }
.search-result { margin-top: 20px; }
.search-result .col-md-2 { border-right: 1px dotted #ccc; min-height: 140px; }
.search-result ul { padding-left: 0 !important; list-style: none;  }
.search-result ul li { font: 400 normal .85em "NanumSquare",Arial,Verdana,sans-serif;  line-height: 30px; }
.search-result ul li i { padding-right: 5px; }
.search-result .col-md-7 { position: relative; }
.search-result h3 { font: 500 normal 1.375em "NanumSquare",Arial,Verdana,sans-serif; margin-top: 0 !important; margin-bottom: 10px !important; }
.search-result h3 > a, .search-result i { color: #248dc1 !important; }
.search-result p { font: normal normal 1.125em "NanumSquare",Arial,Verdana,sans-serif; }
.search-result span.plus { position: absolute; right: 0; top: 126px; }
.search-result span.plus a { background-color: #248dc1; padding: 5px 5px 3px 5px; }
.search-result span.plus a:hover { background-color: #414141; }
.search-result span.plus a i { color: #fff !important; }
.search-result span.border { display: block; width: 97%; margin: 0 15px; border-bottom: 1px dotted #ccc; }

button {
    background:none;
    border:0;
    outline:0;
    cursor:pointer;
}
.tab_menu_container {
    display:flex;
}
.tab_menu_btn {
    width:150px;
    height:40px;
    transition:0.3s all;

}
.tab_menu_btn.on {
    border-bottom:2px solid #df0000;
    font-weight:700;
    color:#df0000;
}
.tab_menu_btn:hover {
    color:#df0000;
    border: 1px solid black;
    box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
}
.tab_box {
    display:none;
    padding:20px;

}
.tab_box.on {
    display:block;
}

.tab_wrap{
    margin-top: 5%;
}

.tab_box_container{
    border: 1px solid grey;
    box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px rgba(90, 97, 105, 0.06), 0 7px 70px rgba(90, 97, 105, 0.1);
}

.btn-search{
    border: none;
    width: 100px;
    height: 40px;
    background-color: #78C2AD;
    color: white;
    font-weight: 800;
}

.form-control{
    height: 40px;
}

#decorate-div{
    margin-top: 50px;
    width: 100%;
    height: 170px;
    background-color: rgb(0, 121, 107);
    color: white;
    font-size: 30px;
    text-align: center;
    line-height: 170px;
}

#decorate-div > span:nth-child(2){
    font-size: 18px;
}

#tbody_jepum{
    position: relative;
}