<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <!--Bootstrap core CSS-->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css">
    <link rel="stylesheet" type="text/css" href="/static/css/about-us.css">

</head>
<body>
{% include "header.html" %}
<div id="decorate-div"><span>ABOUT US |</span><span> 장보고는 당신의 안전한 식품/건강기능식품 관리를 제공합니다. </span></div>
<div class="container">

<!-- Page Content -->
<div class="about-us-container">
        <div class="row">
            <div class="col-md-4">
                <div class="about-us-card mb-4 shadow-sm">
                    <img src="/static/img/homeimage_1.png" width="100%">
                    <!--                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
                    <div class="card-body">
                        <p class="card-text" style="font-size: x-large" align="center">식품 정보 검색</p>
                        <p class="card-text" align="center">식품/건기식 구매시에 안전성 검색 서비스</p>
                    </div>
                    <div class="card-footer">
                            <a href="{% url 'jangbogo:productListSearch' %}" class="btn-about-us">지금 시작하기!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-us-card mb-4 shadow-sm">
                    <img src="/static/img/homeimage_2.png" width="100%">
                    <!--                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
                    <div class="card-body">
                        <p class="card-text" style="font-size: x-large" align="center">유해 식품 알림</p>
                        <p class="card-text" align="center">놓치기 쉬운 실시간 유해 식품 알림 서비스</p>
                    </div>
                    <div class="card-footer">
                            {% if request.session.user %}
                            <a href="http://localhost:8000/users/{{request.session.user}}/notice_board/" class="btn-about-us">지금 시작하기!</a>
                            {% else %}
                            <a href="http://localhost:8000/users/login_register/" class="btn-about-us">지금 시작하기!</a>
                            {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="about-us-card mb-4 shadow-sm">
                    <img src="/static/img/homeimage_3.jpg" width="100%">
                    <!--                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
                    <div class="card-body">
                        <p class="card-text" style="font-size: x-large" align="center">유통 기한 관리</p>
                        <p class="card-text" align="center">관리하기 힘든 유통 기한 관리 서비스</p>
                    </div>
                    <div class="card-footer">
                            {% if request.session.user %}
                            <a href="http://localhost:8000/users/{{request.session.user}}/notice_board/" class="btn-about-us">지금 시작하기!</a>
                            {% else %}
                            <a href="http://localhost:8000/users/login_register/" class="btn-about-us">지금 시작하기!</a>
                            {% endif %}
                    </div>
                </div>
            </div>
        </div>


        <div class="row second-row">
            <div class="col-md-8 mb-5">
                <h2>What We Do</h2>
                <div class="about-us-card mb-4 shadow-sm">
                    <p>장보고는 당신의 안전하고 <strong>건강한 식품 구매</strong>, <strong>놓치기 쉬운 유통기한 관리,</strong> 그리고 실시간으로 업데이트 되는 <strong>유해 식품 지정 알림 서비스</strong>를 제공하는 개인 맞춤형 웹 서비스 입니다. </p>
                    <br>
                    <p>우리가 구매하는 <strong>식품/건강기능식품이 정말로 안전할까요?</strong> 혹시 제품이나 제조업체가 문제가 있을까 걱정되지 않으신가요? 집에서 보관하고 섭취하는
                    식품 및 건강기능식품이 <orange>어느 날 갑자기 유해 식품</orange>으로 지정되거나 <orange>허위/과대 광고</orange>로 제재를 받는 일이 생각보다 자주 일어나고 있습니다.</p>
                    <br>
                    <p>
                        장보고를 통해 간편하게 검색하고, 관리해보세요.
                    </p>
                </div>
            </div>
            <div class="column">
                <div class="col-md-4 mb-5">
                    <div class="about-us-card mb-4 shadow-sm logo-img">
                        <img src="/static/img/janbogo_logo_01.png">
                    </div>
                </div>
                <div class="col-md-4 mb-5">
                    <div class="about-us-card mb-4 shadow-sm">
                        <address>
                            <h4><strong>Team Jangbogo</strong></h4>
                            <br>서울 강남구 삼성로 534
                            <br>SAC아트센터 06166
                        </address>
                        <address>
                            <abbr title="Phone">P:</abbr>
                            (123) 456-7890
                            <br>
                            <abbr title="Email">E:</abbr>
                            <a href="mailto:#">jangbogo@jangbogo.com</a>
                        </address>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}
</body>
</html>